<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="tw.firemaples.onscreenocr"
          android:installLocation="auto">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <service
            android:name=".ScreenTranslatorService"
            android:enabled="true"
            android:exported="false"/>

        <!--android:excludeFromRecents="true"-->
        <!--android:noHistory="true"-->
        <!--android:theme="@style/AppTheme.Transparent"-->
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="034212d0a941b036105ee0ffa8473d6a0cf260af"/>
    </application>

</manifest>
